.overall{
    justify-content: space-between;
    display: flex;
    width: 100%;
    border-bottom: solid 1px rgb(147, 136, 136);
}
.firstdiv{
    display: flex;
    align-items: center;
}
.img{
    width: 50px;
    height: 50px;
}
.divol{
    display: flex;
    flex-direction: row;
}
.ol{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.deal{
    font-family: "Dancing script", cursive;
}
.h1{
    font-family: "Dancing script", cursive;
}
.li{
    display: inline-block;
    padding: 10px;
    width: fit-content;
    flex-direction: row;
    width: 10%;
    align-items: center;
    justify-content: center;
}
.lo{
    display: inline-block;
    color: orangered;
    text-decoration: underline;
}
.cart{
    text-align: right;
}
.Discover{
    background: orangered;
    color: white;
    border: none;
    padding: 15px;
    box-shadow: 1px 1px 10px black;
}
.class{
    display: flex;
    justify-content: space-between;
}
.Shipping{
    padding-left: 70px;
}
h3{
    font-family: "Dancing script", cursive;
}
ol{
    background-color: rgb(228, 17, 17);
    width: fit-content;
    border-radius: 5px;
    text-align: justify;
    padding: 30px;
}
.image{
    position: fixed;
    width: 10%;
    bottom: 10px;
    right: 10px;

    animation-name: change;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.part2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.li{
    display: inline-flex;
    padding: 10px;
    width: fit-content;
    flex-direction: row;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.imgtext{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.forh1{
    padding-top: 70px;
}
.man{
    width: 50%;
    box-sizing: content-box;
}
.pic{
    height: 100%;
    width: 100%;
    padding-left: 100px;
}
@keyframes change{
    0%{
        padding: 10px;
    }
    100%{
        padding: 20px;
    }
}