.overall{
    background: white;
    display: flex;
    width: 100%;
    border-bottom: solid 1px rgb(147, 136, 136);
}
.firstdiv{
    display: flex;
    align-items: center;
}
.img{
    width: 50px;
    height: 50px;
}
.divol{
    display: flex;
    flex-direction: row;
}
.ol{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
}
.deal{
    font-family: "Dancing script", cursive;
}
.h1{
    font-family: "Dancing script", cursive;
}
.li{
    display: inline-block;
    padding: 10px;
    width: fit-content;
    flex-direction: row;
    width: 10%;
    align-items: center;
    justify-content: center;
}
.lo{
    display: inline-block;
    color: orangered;
    text-decoration: underline;
}

.cart{
    text-align: right;
}
.pic{
    height: 50%;
    width: 35%;
    padding-left: 600px;
}
.Discover{
    background: orangered;
    color: white;
    border: none;
    padding: 15px;
    box-shadow: 1px 1px 10px black;
}
.forh1{
    padding-top: 100px;
    padding-left: 40px;
}
.class{
    display: flex;
    justify-content: space-between;
}
.Shipping{
    padding-left: 70px;
}
h3{
    font-family: "Dancing script", cursive;
}
