
.ptag{
    background: orange;
    width: 20%;
    margin-left: 60px;
}
.Online{
    background: purple;
}
.li{
    display: inline-flex;
    padding: 2px;
    width: fit-content;
    flex-direction: row;
}
.img{
    height: 60px;
    width: 60px;
}
.forimg{
    width: 250px;
    height: 280px;
    padding-left: 10px;
}
.part2{ 
    text-align: center;
}
.image{
    position: fixed;
    width: 5%;
    bottom: 10px;
    right: 10px;

    animation-name: change;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.idsession{
    margin-left: 50px;
}
.Welcome{
    border-left: solid 4px orange;
    margin-left: 50px;
}
.pad{
    height: 30px;
    width: 30px;
}
.Session{
    color: red;
    font-weight: 600;
}
.text{
    padding: 10px;
}
.Password{
    padding: 10px;
}
.h2img{
    display: flex;
    flex-direction: row;
}
.input{
    background: white;
    width: fit-content; 
}
.type{
    width: fit-content;
    margin-left: 200px;
    display: flex;
}
.color{
    background: purple;
    padding: 4px;
    width: fit-content;
    height: 273px;
} 
.but{
    background: orange;
    padding: 10px;
}
.imgs{
    height: 100%;
    width: 100%;
}
.label{
    color: blue;
}
.buts{
    background: orange;
}
.sec{
    text-align: center;
}
.note{
    background-color: antiquewhite;
    padding: 10px;
    margin-left: 10px;
    height: fit-content;
    height: 260px;
    width: 250px;
}
.padd{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    margin-top: 4px;
}
.under{
    display: flex;
    /* border: solid 1px rgb(104, 100, 100); */
    justify-content: center;
    margin: 40px;
    width:600px;
    padding-left: 400px;
}
.forp{
    background: orangered;
    padding: 20px;
    margin: 10px;
}
.h{
    height: 40px;
    width: 40px;
}
.fc{
    margin: 0px;
}
.m{
    height:40px;
    width: 40px;
}
.t{
    height:40px;
    width: 40px;
}
.con{
    color: blue;
    text-align: center;
}
li{
    color: blue;
}
.logs{
    justify-content: space-between;
}
.FB{
    width: 30px;
    height: 30px;
    padding-left: 10px;
}
.H5{
    background: black;
    text-align: center;
    color: white;
    padding: 20px;
    font-weight: 100;
}
h5{
    margin: 0px;
}
@keyframes change{
    0%{
        padding: 10px;
    }
    100%{
        padding: 20px;
    }
}